$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #C1D831;
$color__background-home: #C1D831;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-home: #fff;
$color__heading-home: #fff;
$color__text-link: #fff;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #C1D831;
$color__link-visited: #C1D831;
$color__link-hover: #6E7F00;
$color__text-main: #404040;

$color__border-button: #C1D831;
$color__border-button-hover: #6E7F00;
$color__border-button-focus: #6E7F00;
$color__border-input: #ccc;
$color__border-abbr: black;

$color__background-button-hover: #6E7F00;